@use "variables" as v;
@use "sass:map";

.banner {
  background: linear-gradient(120deg, #000, #333);
  color: map.get(v.$colors, white);
  text-align: center;
  padding: 3rem 1rem;

  &__title {
    font-size: 2rem;
    font-weight: 700;
  }

  &__subtitle {
    opacity: 0.85;
  }
}
