@use "variables" as v;
@use "sass:map";

.header {
  position: sticky;
  top: 0;
  z-index: map.get(v.$z-index, header);
  background: map.get(v.$colors, white);
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 0 5px 20px map.get(v.$colors, shadow);

  &__icon-image {
    width: 24px;
    height: 24px;
    cursor: pointer;
  }

  &__logo {
    height: 40px;
  }
}
