@use "variables" as v;

// ===== MIXINS =====
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin respond-to($breakpoint) {
  @if map.has-key(v.$breakpoints, $breakpoint) {
    @media (max-width: map.get(v.$breakpoints, $breakpoint)) {
      @content;
    }
  }
}

// ===== PLACEHOLDERS =====
%image-responsive {
  max-width: 100%;
  height: auto;
}
