// ===== MAIN =====
@use "variables" as v;
@use "mixins";
@use "header";
@use "banner";
@use "products";
@use "cart";
@use "menu";
@use "modal-zoom";
@use "sass:map";

// RESET
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, sans-serif;
  background-color: map.get(v.$colors, secondary);
  color: map.get(v.$colors, primary);
}

img {
  @extend %image-responsive;
}
