// ===== MAIN STYLESHEET =====

// Importar variables
@import 'variables';

// Importar mixins y placeholders
@import 'mixins';

//Estilos base globales
* {
  @extend %reset-box;
}

body {
  @extend %full-width;
  font-family: map-get($fonts, primary);
  font-size: map-get($fonts, size-base);
  font-weight: map-get($fonts, weight-light);
  color: map-get($colors, secondary);
}

img {
  @extend %image-responsive;
}

//Importar componentes (en orden lógico)
@import 'header';
@import 'banner';
@import 'products';
@import 'cart';

